/* 
    Document   : main
    Created on : 28.02.2012, 21:55:57
    Author     : Eugene Smith
*/
root { 
    display: block;
}

* {
	font: 13px Tahoma, Arial;
	position:relative;
	margin:0px;
	padding:0px;
	color: #404040;
}

div { }
a { color: #1270b8; display:inline; text-decoration:none; border-bottom: 1px dotted #1270b8; }
ui { list-style: none; }
.main { height: 100%; width: 100%; position: relative; overflow: hidden;}
.userList {
	width:219px; height:100%; background: white; top:0; display: inline-block;
	border-right:1px solid #eaebef;
}
.dialog {
	background: white;
	top:-100%; height: 100%; margin-left: 220px;

-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}

.dialog.firstMessage,  .dialog.firstMessage #messageContainer{
	background: #f1f4fb;
}

.transDialogBg {
	display: none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, 0.4);
}
.dialog #userInfo {
	height: 80px;
	padding: 10px 10px 9px 20px;
	background: #e4ecf7;
	border-bottom: 1px solid #d1d8e2;
}
#userInfo .userAvatar {
	vertical-align: top;
	display: inline-block;
	width: 81px;
	height: 81px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 1px 3px 0px #000000;
	-moz-box-shadow: inset 0px 1px 3px 0px #000000;
	box-shadow: inset 0px 1px 3px 0px #000000;
	border-bottom:1px solid white;
}

#userInfo .userProfile {
	display: inline-block;
}

.userProfile .userName, .userProfile .userLocation {
	margin:5px;
}

#userInfo .userTools {
	width: 200px;
	position: absolute;
	right: 0;
	top: 0;
}

.userItem {
	cursor: pointer;
	height:50px; line-height: 48px;
}

.userItem.selected {
	background: #6698d5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTg3YmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6698d5 0%, #5987be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6698d5), color-stop(100%,#5987be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* IE10+ */
	background: linear-gradient(top,  #6698d5 0%,#5987be 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698d5', endColorstr='#5987be',GradientType=0 ); /* IE6-8 */

-webkit-box-shadow: inset 0px 1px 3px 1px #4c73a0;
-moz-box-shadow: inset 0px 1px 3px 1px #4c73a0;
box-shadow: inset 0px 1px 3px 1px #4c73a0; 
}
.userItem .userStatus, .userItem .userName, .userItem .userCounter, .userItem .userAvatar { display:inline-block; vertical-align: middle; }
.userItem .userStatus {
	margin-left:11px;
	width:11px;
	height:11px;
	border-radius:11px;
	
	background: #58b017; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4YjAxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NGYxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #58b017 0%, #64f100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58b017), color-stop(100%,#64f100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58b017 0%,#64f100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58b017 0%,#64f100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58b017 0%,#64f100 100%); /* IE10+ */
	background: linear-gradient(top,  #58b017 0%,#64f100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58b017', endColorstr='#64f100',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: inset 0px 0px 3px 0px #64f100;
	-moz-box-shadow: inset 0px 0px 3px 0px #64f100;
	box-shadow: inset 0px 0px 3px 0px #64f100;
}
.userItem .userStatus.offline {
	background: #c0c0c0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNjMGMwYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c0c0c0 25%, #e6e6e6 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#c0c0c0), color-stop(75%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* IE10+ */
	background: linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
	
	-webkit-box-shadow: inset 0px 0px 3px 0px #e6e6e6;
	-moz-box-shadow: inset 0px 0px 3px 0px #e6e6e6;
	box-shadow: inset 0px 0px 3px 0px #e6e6e6;
}

.float-right {
	height:40px; display:inline-block;
    position: absolute;
    right: 0;
    top: 8px;
}

.userItem .userAvatar {
	overflow: hidden;
	width:35px;
	height:35px;
	right:0;
	margin-right:11px;
	margin-left:11px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    cursor: pointer;
	box-shadow: 0 0 3px 0 black inset;
}

.userItem .userCounter {
	padding: 0  1px;
	color: white;
	text-align:center;
	line-height: 10px;
	font-size:10px;
	background: #f47600;
	min-width:11px;
	height:11px;
	border-radius:11px;

	-webkit-box-shadow: inset 0px 1px 1px 0px #d86200;
	-moz-box-shadow: inset 0px 1px 1px 0px #d86200;
	box-shadow: inset 0px 1px 1px 0px #d86200;
}

#messageContainer { 
	/*height: 510px;*/
	height: 60%;
	overflow-y: scroll; background: #ffffff;
-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}

#messageContainer ui {
-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}

.messageItem {
	min-height:22px; margin-left:60px;
	padding-right: 120px; position: relative;
	background: #ffffff;
}

.messageItem:hover { background: #fafafa; }

.messageItem div { display: inline-block; 	line-height:22px;}
.messageItem .senderName { position: absolute; width: 54px; margin-left: -60px; padding-right: 6px; text-align:right; color: #a6a6a6; font-weight: bold; }
.messageItem .senderName.self { color: #1270b8; }

.messageItem .messageContent * { vertical-align:middle; line-height:14px;}
.messageItem .messageContent img { 	margin: 20px 10px 20px 0; }

.messageItem.rate .messageContent div { color: #a6a6a6;}
.messageItem.rate .messageContent .sympathy {
	margin: 6px 17px 10px 0;
	background: url(img/herts.png) 0 0 no-repeat;
	width:42px;
	height: 35px;
}
.messageItem .messageContent .mutally {
	margin: 6px 5px 10px 0;
	background: url(img/herts.png) 0 -35px no-repeat;
	width: 54px;
	height: 45px;
}
.messageItem.removedMessage .messageContent { color: #a6a6a6; }

.messageItem .messageRemove {
	position: absolute; width: 22px; height:9px;
	padding-left: 6px; right:60px; top:7px;
	display:none; cursor: pointer;

	background: url(img/close.png) no-repeat;
}
.messageItem:hover .messageRemove { display:inline-block; }
.messageItem.removedMessage:hover .messageRemove { display:none; }

.messageItem .messageTime { position: absolute; width: 50px; padding-left: 6px; right:0; top:0; margin-right:4px; color: #a6a6a6; }
.messageItem.removedMessage .messageTime { background: url(img/drop.png) right 7px no-repeat;}

.messageItem.rate div.rateMsg {
	margin: 20px 8px 20px 0;
	width: 49px;
	height:49px;
	background: url(img/stars.png) 0 -73px no-repeat;
	text-align: center;
	line-height: 49px;
	color: white;
	font-size: 20px;
}

.sendBtn {
	cursor: pointer;
	display:inline-block;
	border: none;
	border-radius: 5px;
	height: 29px;
	width: 94px;
	color: white;
	padding-top:0;

	background: #8996ab;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5OTZhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTZmOGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8996ab 0%, #5e6f8d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8996ab), color-stop(100%,#5e6f8d));
	background: -webkit-linear-gradient(top,  #8996ab 0%,#5e6f8d 100%);
	background: -o-linear-gradient(top,  #8996ab 0%,#5e6f8d 100%);
	background: -ms-linear-gradient(top,  #8996ab 0%,#5e6f8d 100%);
	background: linear-gradient(top,  #8996ab 0%,#5e6f8d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8996ab', endColorstr='#5e6f8d',GradientType=0 );
}

.sendBtn:hover {
	background: #a5b4cc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1YjRjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTgzYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a5b4cc 0%, #7183a3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5b4cc), color-stop(100%,#7183a3));
	background: -webkit-linear-gradient(top,  #a5b4cc 0%,#7183a3 100%);
	background: -o-linear-gradient(top,  #a5b4cc 0%,#7183a3 100%);
	background: -ms-linear-gradient(top,  #a5b4cc 0%,#7183a3 100%);
	background: linear-gradient(top,  #a5b4cc 0%,#7183a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b4cc', endColorstr='#7183a3',GradientType=0 );
}

.sendBtn:active {
	background: #576681;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NjY4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MzkwYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #576681 0%, #8390a5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#576681), color-stop(100%,#8390a5));
	background: -webkit-linear-gradient(top,  #576681 0%,#8390a5 100%);
	background: -o-linear-gradient(top,  #576681 0%,#8390a5 100%);
	background: -ms-linear-gradient(top,  #576681 0%,#8390a5 100%);
	background: linear-gradient(top,  #576681 0%,#8390a5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576681', endColorstr='#8390a5',GradientType=0 );
	
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.sendBtn::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}

#messageForm {
	margin: auto 0;
	width: 560px;
	padding: 0px 20px 10px 20px;
}

#sendingInfo {
	font-size:13px;
	height: 19px;
	padding: 10px 0 10px 0;
}

#sendingInfo .msgStatus {
	background: url(img/attention.png) 0 0 no-repeat;
	height: 12px;
	width: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#messageForm textarea {
	padding:10px;
	background: white;
	border: none;
	width: 550px; max-width: 550px; min-width: 550px;
	height:95px; max-height:95px; min-height: 95px;
		margin-bottom:10px;

-webkit-box-shadow: inset 0px 1px 3px -1px #000000;
-moz-box-shadow: inset 0px 1px 3px -1px #000000;
box-shadow: inset 0px 1px 3px -1px #000000;
}

#messageForm .sendRate, #messageForm .sendGift {
	margin-left:25px;
	display: inline-block;
	height:23px;
	padding: 2px 2px 2px 6px;
	vertical-align:middle;
}

#messageForm .sendGift {
	padding-left:27px;
	background: url(img/gift.png) 0 2px no-repeat;
}
.sendGift:hover .sendRate:hover { background: #e7eff9; }

#messageForm .sendRate * {
	display: inline-block;
	vertical-align: middle;
	/*line-height:18px;*/
	text-decoration:none;
}


.sendRate .srats-small {
	margin-right:5px;
	width:16px;
	height:17px;
	background: url(img/stars-small.png) 0 0 no-repeat;
}
.sendRate:hover .srats-small {
	background: url(img/stars-small.png) 0 -16px no-repeat;
}

#sendRateForm, #removeMessageForm {
	max-width:400px;
	background:white;
}

#sendRateForm span, #removeMessageForm span
{
	display:inline-block;
	margin:10px 35px 10px 15px;
}

.transMsgBg {
	position:absolute; top:50px; left: 50%;
	margin-left:-300px;
	padding:5px;
	background: rgba(0, 0, 0, 0.6);
-webkit-box-shadow: 0px 1px 24px -12px #000000;
-moz-box-shadow: 0px 1px 24px -12px #000000;
box-shadow: 0px 1px 24px -12px #000000;
}

.transDialog .transMsgBg {
	position:absolute; top:50%; left: 50%;
	margin-left:-178px;
	margin-top:-50px;
	padding:5px;
	background: rgba(0, 0, 0, 0.6);
-webkit-box-shadow: 0px 1px 24px -12px #000000;
-moz-box-shadow: 0px 1px 24px -12px #000000;
box-shadow: 0px 1px 24px -12px #000000; 
}

#sendRateForm .stars {
	padding:6px 10px 23px 10px;
}

#sendRateForm .stars div
{
	display: inline-block;
	width:34px; height:24px; cursor:pointer;
	background: url(img/stars.png) -1px 0 no-repeat;
	margin-left:-1px;
    padding-top: 12px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#sendRateForm .stars div:hover {
	background: url(img/stars.png) -1px -35px no-repeat;
}

.closeWindow {
	position:absolute;
	top:6px;
	right: 6px;
	cursor:pointer;
	height:9px;
	width:9px;
	background: url(img/close.png) no-repeat;
}

.confirmControls {
	background: #efefef;
	padding:6px 15px 6px 15px;
}
.confirmControls a {
	margin-left: 15px;
	border:none;
	color: #969696;
	text-decoration: underline;
}

#removeMessageForm .message {
	color: #969696;
	padding:5px 10px 25px 10px;
}
#removeMessageForm .message .gift{
	left: 110px;
}

.dialog .firstMessageBox {
	margin: 285px auto 0 auto;
	display:none;
	padding: 13px 15px 15px 18px;
	width: 530px;
	height: 68px;
	border-radius:6px;
	background: white;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
}

.dialog.firstMessage .firstMessageBox {
	display: block;
}

.firstMessageBox h3 {
	font-size: 17px;
	margin-bottom:5px;
}

.firstMessageBox span {
	font-size: 12px;
	display: block;
	padding-bottom:10px;
}

#otherCompliment {
	font-size: 11px;
	position: absolute;
	bottom: 18px;
	right: 20px;
}

#sendGiftForm {
	position: relative;
	width: 635px;
	height: 656px;
	padding: 20px;
	background: white;
	display: block;
}

#sendGiftForm h2 {
	margin-bottom: 20px;
	font-size: 20px;
}

#sendGiftForm .gifts {
	border-top: 1px solid red;
	height:75px;
	margin-bottom: 20px;
	padding: 13px 10px 12px 10px;
}
#sendGiftForm .gifts .giftsBox {
	height:75px;
	width:600px;
	overflow: hidden;
}
#sendGiftForm .gifts ui {
	left:0;
	height: 75px;
	position: absolute;
	overflow: hidden;
}

#sendGiftForm .giftsHead {
	text-transform:uppercase;
	position: absolute;
	top: -10px;
	left: 0;
	background: white;
}

#sendGiftForm .scrollBtn
{
	background-color: rgba(0,0,0,0.4);
-webkit-border-radius: 37px;
-moz-border-radius: 37px;
border-radius: 37px;
	width: 37px;
	height: 37px;
	cursor: pointer;
}

#sendGiftForm .arrowLeft {
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
}

#sendGiftForm .arrowRight {
	position: absolute;
	top: 30px;
	right: 0;
}
#sendGiftForm a.howVIP {
	color: red;
	border: none;
	text-decoration: underline;
}


#sendGiftForm .closeWindow {
	height: 51px;
	width: 51px;
	top:0;
	right:0;
	background-color: #cccccc;
	background-position: 25px 25px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}