/* 
    Document   : main
    Created on : 28.02.2012, 21:55:57
    Author     : Eugene Smith
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

* {
	font: 14px Arial;
	position:relative;
	margin:0px;
	padding:0px;
}

div { }
a { color: #1270b8; display:inline; text-decoration:none; border-bottom: 1px dotted #1270b8; }

.main { height: 100%; width: 100%; position: relative; overflow: hidden;}
.userList {
	width:219px; height:100%; background: white; top:0; display: inline-block;
	border-right:1px solid #eaebef;
}
.dialog {
	background: #f1f4fb;
	top:-100%; height: 100%; margin-left: 220px;
	/* TODO Разобраться в левом затемнении */
-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}

.dialog #userInfo {
	height: 80px;
	padding: 10px 10px 9px 20px;
	background: #e4ecf7;
	border-bottom: 1px solid #d1d8e2;
}
#userInfo .userAvatar {
	vertical-align: top;
	display: inline-block;
	width: 81px;
	height: 81px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 1px 3px 0px #000000;
	-moz-box-shadow: inset 0px 1px 3px 0px #000000;
	box-shadow: inset 0px 1px 3px 0px #000000;
	border-bottom:1px solid white;
}

#userInfo .userProfile {
	display: inline-block;
}

.userProfile .userName, .userProfile .userLocation {
	margin:5px;
}

#userInfo .userTools {
	width: 200px;
	position: absolute;
	right: 0;
	top: 0;
}

.userItem {
	cursor: pointer;
	height:50px; line-height: 48px;
}

.userItem.selected {
	background: #6698d5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTg3YmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6698d5 0%, #5987be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6698d5), color-stop(100%,#5987be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6698d5 0%,#5987be 100%); /* IE10+ */
	background: linear-gradient(top,  #6698d5 0%,#5987be 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698d5', endColorstr='#5987be',GradientType=0 ); /* IE6-8 */

-webkit-box-shadow: inset 0px 1px 3px 1px #4c73a0;
-moz-box-shadow: inset 0px 1px 3px 1px #4c73a0;
box-shadow: inset 0px 1px 3px 1px #4c73a0; 
}
.userItem .userStatus, .userItem .userName, .userItem .userCounter, .userItem .userAvatar { display:inline-block; vertical-align: middle; }
.userItem .userStatus {
	margin-left:11px;
	width:11px;
	height:11px;
	border-radius:11px;
	
	background: #58b017; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4YjAxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NGYxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #58b017 0%, #64f100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58b017), color-stop(100%,#64f100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58b017 0%,#64f100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58b017 0%,#64f100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58b017 0%,#64f100 100%); /* IE10+ */
	background: linear-gradient(top,  #58b017 0%,#64f100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58b017', endColorstr='#64f100',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: inset 0px 0px 3px 0px #64f100;
	-moz-box-shadow: inset 0px 0px 3px 0px #64f100;
	box-shadow: inset 0px 0px 3px 0px #64f100;
}
.userItem .userStatus.offline {
	background: #c0c0c0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNjMGMwYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c0c0c0 25%, #e6e6e6 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#c0c0c0), color-stop(75%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* IE10+ */
	background: linear-gradient(top,  #c0c0c0 25%,#e6e6e6 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: inset 0px 0px 3px 0px #e6e6e6;
	-moz-box-shadow: inset 0px 0px 3px 0px #e6e6e6;
	box-shadow: inset 0px 0px 3px 0px #e6e6e6;
}

.float-right {
	height:40px; display:inline-block;
    position: absolute;
    right: 0;
    top: 8px;
}

.userItem .userAvatar {
	overflow: hidden;
	width:35px;
	height:35px;
	right:0;
	margin-right:11px;
	margin-left:11px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    cursor: pointer;
	box-shadow: 0 0 3px 0 black inset;
}



.userItem .userCounter {
	padding: 0  1px;
	color: white;
	text-align:center;
	line-height: 10px;
	font-size:10px;
	background: #f47600;
	min-width:11px;
	height:11px;
	border-radius:11px;

	-webkit-box-shadow: inset 0px 1px 1px 0px #d86200;
	-moz-box-shadow: inset 0px 1px 1px 0px #d86200;
	box-shadow: inset 0px 1px 1px 0px #d86200;
}


#messageContainer {
	height: auto; height: 500px; overflow-y: scroll; background: #ffffff;
-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}
#messageForm { border:1px solid red; }

.messageItem {
	min-height:22px; padding-left:60px; padding-right: 120px; position: relative;
	background: #ffffff;
-webkit-box-shadow: inset 30px 0 20px -20px #eaebef;
-moz-box-shadow: inset 30px 0 20px -20px#eaebef;
box-shadow: inset 30px 0 20px -20px #eaebef;
}



/**/
.messageItem.removedMessage .messageContent { content:'Сообщение удалено'; }

.messageItem:hover { background: #fafafa; }

.messageItem div { display: inline-block;}
.messageItem .senderName { position: absolute; width: 54px; margin-left: -60px; padding-right: 6px; text-align:right; color: #a6a6a6; font-weight: bold; }
.messageItem .senderName.self { color: #1270b8; }

.messageItem .messageContent * {  vertical-align:top; }
.messageItem.removedMessage .messageContent { color: #a6a6a6;}
.messageItem .messageRemove { position: absolute; width: 22px; padding-left: 6px; right:60px; top:0; display:none; cursor: pointer; }
.messageItem:hover .messageRemove { display:inline-block; }
.messageItem.removedMessage:hover .messageRemove { display:none; }
.messageItem .messageTime { position: absolute; width: 54px; padding-left: 6px; right:0; top:0; }
.messageItem.removedMessage .messageTime { background: url(stars-small.png) right 0 no-repeat;}

#messageForm textarea { width:100%; }
#messageForm .sendGift, #messageForm .sendRate { width:150px; display: inline-block; }

#messageForm .sendRate, #messageForm .sendGift {
	height:23px;
	padding: 2px 2px 2px 6px;
}

#messageForm .sendGift {
	padding-left:27px;
	background: url(gift.png) 0 2px no-repeat;
}
.sendGift:hover .sendRate:hover { background: #e7eff9; }

#messageForm .sendRate * {
	display: inline-block; vertical-align: middle; line-height:18px;
	text-decoration:none;
}


.sendRate .srats-small {
	margin-right:5px;
	width:16px;
	height:17px;
	background: url(stars-small.png) 0 0 no-repeat;
}
.sendRate:hover .srats-small {
	background: url(stars-small.png) 0 -16px no-repeat;
}

#sendRateForm, #sendGiftForm {
	position:absolute; top:50%; left: 50%;
	width:386px; height:100px;
	margin-left:-178px;
	margin-top:-50px; border: 1px solid red; background:white;
}

#sendRateForm .stars {
	margin:10px;
}

#sendRateForm .stars div
{
	display: inline-block;
	width:34px; height:24px; cursor:pointer;
	background: url(stars.png) -1px 0 no-repeat;
	margin-left:-1px;
    padding-top: 12px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#sendRateForm .stars div:hover {
	background: url(stars.png) -1px -35px no-repeat;
}

#sendGiftForm .gifts div {
	cursor: pointer;
	display: inline-block;
	height: 48px;
	width: 48px;
}

.gifts .gift-1 { background: url(/Storage/gift/1.png) 0 0 no-repeat;}
.gifts .gift-2 { background: url(/Storage/gift/2.png) 0 0 no-repeat;}
.gifts .gift-3 { background: url(/Storage/gift/3.png) 0 0 no-repeat;}
.gifts .gift-4 { background: url(/Storage/gift/4.png) 0 0 no-repeat;}
.gifts .gift-5 { background: url(/Storage/gift/5.png) 0 0 no-repeat;}

.closeWindow {
	position:absolute;
	top:5px;
	right: 5px;
	cursor:pointer;
}